.root {
    margin: 8px -8px 0;
}

.wrapper {
    padding: 8px;
}

.element {
    position: relative;
    border: 1px solid var(--neutral-neutral-03-light);
    border-radius: 8px;
    background-color: var(--web-unifi-color-neutral-01);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background-color: var(--web-unifi-color-neutral-02);

        & .elementDescription {
            background-color: var(--web-unifi-color-neutral-01);
        }
    }

    &:focus-visible {
        outline: 1px solid var(--web-unifi-color-ublue-06);
    }
}

.image {
    display: block;
}

.elementDescription {
    background-color: white;
    text-align: left;
    padding: 8px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.elementTitle {
    color: var(--text-text-1-light);
    font-weight: 400;
}

.elementShortnames {
    color: var(--web-unifi-text-3);
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elementLine {
    position: absolute;
    right: 3px;
    top: 3px;
    padding: 2px 4px;
    background-color: white;
    color: var(--web-unifi-color-ublue-06);
    border-radius: 4px;
}

.scroll {
    margin: 0 auto;
}

.inner {
    margin: 0 auto;
}

.scroll {
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    color: var(--text-text-2-light);

    &::-webkit-scrollbar {
        display: none;
    }
}