.root {
    padding: var(--grid-gap) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.backButton {
    margin-right: 4px;

    & img {
        transform: scaleX(-1);
    }

    &:focus-visible {
        outline: 1px solid var(--web-unifi-color-ublue-06);
    }
}

.foreButton {
    &:focus-visible {
        outline: 1px solid var(--web-unifi-color-ublue-06);
    }
}