.root {
    width: 100%;
    position: relative;
    flex-grow: 1;
}

.cell {
    padding: 6px 8px;
    vertical-align: middle;
    line-height: 20px;
    text-align: left;
    width: 50%;

    &:first-child {
        width: 36px;
    }
}

.row {
    border-bottom: 1px solid var(--neutral-neutral-03-light);

    &:hover {
        background-color: var(--web-unifi-color-neutral-02);
        cursor: pointer;
    }

    &:focus-visible {
        outline: 1px solid var(--web-unifi-color-ublue-06);
    }
}

.headerRow {
    display: block;
    font-weight: 600;
    border-bottom: 1px solid var(--neutral-neutral-03-light);
}

.icon {
    width: 20px;
    height: 20px;
    display: block;
}

.tableHead {
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(2px);
}

.scroll {
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    color: var(--text-text-2-light);

    &::-webkit-scrollbar {
        display: none;
    }
}